.dark {
  --link-color: rgb(142, 216, 229);
  --link-hover-color: rgb(222, 235, 235);
  --background-color: rgb(31,31,31);
  --text-color: rgb(156, 186, 234);
  /*--code-background: #3e3e42;*/
  --code-color: #ff6188;
  /*--blockquote-border: #555;*/
}

/* 深色模式样式 */
.dark a, .dark article.heti a, .dark article.heti a code {
  color: var(--link-color); /* 使用深色模式变量 */
}

.dark a:hover, .dark article.heti a:hover, .dark article.heti a code:hover {
  color: var(--link-hover-color); /* 使用深色模式变量 */
}

.dark body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark article.heti code {
  background-color: var(--code-background);
  color: var(--code-color);
}

.dark article.heti blockquote {
  border-left-color: var(--blockquote-border);
}


body {
  --uno: antialiased;
  color: theme("colors.foreground");
  background-color: theme("colors.background");
  font-family: theme("fontFamily.sans");
  line-height: normal;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  min-height: 100vh;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.04) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
  background-size: 7px 7px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a,
article.heti a,
article.heti a code {
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  /* border-bottom: solid 2px; */
  /* border-color: theme("colors.foreground"); */
  padding: 2px;

  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a:hover,
article.heti a:hover,
article.heti a code:hover {
  text-decoration-line: none;
}


a:hover {
  color: theme("colors.background");
  background-color: theme("colors.foreground");
  /* border-bottom: solid transparent 2px; */
  /* text-decoration: none; */
}

a.normal {
  /* border: none; */
  transition: none;
  text-decoration: none;
}

a.normal:hover {
  color: inherit;
  background-color: transparent;
}

article.heti a:hover {
  padding-block-end: 0px;
  border-block-end: 1px solid rgba(0, 0, 0, 0);
}

article.heti a:has(code) {
  transition: none;
  text-decoration: none;
}

article.heti a:has(code):hover {
  color: inherit;
  background-color: transparent;
}

article.heti code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

article.heti a code:hover {
  /* color: theme("colors.background"); */
  /* background-color: theme("colors.foreground"); */
  /* border-bottom: solid transparent 2px; */
  color: #f9f2f4;
  background-color: #c7254e;
}

article.heti blockquote {
  padding: 2px 16px;
  margin: 24px 0;
  border-left: 4px solid #eee;
}

article.heti blockquote p {
  margin-block-start: 12px;
  margin-block-end: 12px;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  padding-top: 62.5%; /* 10/16 = 0.625 */
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 基本样式，适用于所有尺寸 */
.img-responsive {
  width: 6vw; /* 默认宽度 */
  height: auto; /* 保持宽高比 */
  position: absolute;
  top: 7%; /* 默认位置 */
  left: 47%; /* 默认位置 */
}

/* 当屏幕宽度至少为 200px 时的样式 */
@media (min-width: 200px) {
  .img-responsive {
    width: 20vw; /* 较小屏幕的宽度 */
    position: absolute;
    top: 110px; 
    left: 80%;
  }
}
/* 当屏幕宽度至少为 300px 时的样式 */
@media (min-width: 300px) {
  .img-responsive {
    width: 16vw; /* 较小屏幕的宽度 */
    top: 85px; 
    left: 80%;
  }
}
/* 当屏幕宽度至少为 400px 时的样式 */
@media (min-width: 400px) {
  .img-responsive {
    width: 16vw; /* 较小屏幕的宽度 */
    position: absolute;
    top: 10px; 
    left: 80%;
  }
}
/* 当屏幕宽度至少为 600px 时的样式 */
@media (min-width: 600px) {
  .img-responsive {
    width: 12vw; /* 较小屏幕的宽度 */
    top: 20px; 
    left: 85%;
  }
}

/* 当屏幕宽度至少为 700px 时的样式 */
@media (min-width: 900px) {
  .img-responsive {
    width: 10vw; /* 中等屏幕的宽度 */
    top: 20px;
    left: 80%;
  }
}

/* 当屏幕宽度至少为 1000px 时的样式 */
@media (min-width: 1000px) {
  .img-responsive {
    width: 14vw; /* 中等屏幕的宽度 */
    top: 35%;
    left: 42%;
  }
}

/* 当屏幕宽度至少为 1200px 时的样式 */
@media (min-width: 1200px) {
  .img-responsive {
    width: 16vw; /* 较大屏幕的宽度 */
    top: 25%;
    left: 42%;
  }
}

