---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
/*<img src="https://img2.imgtp.com/2024/05/13/nhHMwGDr.png" style="position: absolute; top: 640px; left: 500px;width: 400px; height: 400px;">*/
---

<LayoutDefault>

<section>
<h1>关于我/关于本站</h1>
<h2>我是 Aurora</h2>
<h3>我是一名大学生，喜欢读书，目前专注于机器学习，热爱开源，喜欢折腾，喜欢分享，</h3>
<h3>现在在中国浙江读书，热衷于学习通信原理</h3>
<h3> 学过C、C++、Java、Python、matlab、CSS。</h3>
</section>

</LayoutDefault>


