---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
/*<img src="https://img2.imgtp.com/2024/05/13/nhHMwGDr.png" style="position: absolute; top: 640px; left: 500px;width: 400px; height: 400px;">*/
---
<LayoutDefault>
<section style="max-width: 700px; margin: auto; padding: 20px; font-family: Arial, sans-serif; line-height: 1.6;">
    <h1 style="text-align: center; color: #2e405b; font-size: 2.25em;">关于我/关于本站</h1>
    <h2 style="text-align: center; font-size: 1.75em;">我是 Aurora，独一无二的我</h2>
    <p style="text-indent: 2em;">我，Aurora，是这片浩瀚网络海洋中一颗独特的星星。我热爱生活，热爱探索，更热爱将我的故事和经历通过文字与他人分享。</p>
    
    <h3 style="color: #2e405b; font-size: 1.5em;">热爱生活</h3>
    <p style="text-indent: 2em;">我的生活中充满了色彩与热情。我喜欢用镜头捕捉生活中的每一个美好瞬间，无论是夕阳下的湖面，
        还是晨曦中的花朵，都能让我感受到大自然的魅力。同时，我也是一个音乐爱好者，喜欢在闲暇之余听听音乐，治愈我的心灵。</p>
    
    <h3 style="color: #2e405b; font-size: 1.5em;">学术追求</h3>
    <p style="text-indent: 2em;">在学术上，我严谨而专注。作为一名大学生，我深知学习的重要性。我热衷于机器学习和通信原理
        的研究，对这两个领域的探索让我深感着迷。我坚信，只有不断学习，才能保持对世界的敏感度和洞察力。</p>
    
    <h3 style="color: #2e405b; font-size: 1.5em;">开源贡献</h3>
    <p style="text-indent: 2em;">我热爱开源文化，喜欢与全球的开发者共同合作，共同推动技术的进步。我乐于分享我的知识和
        经验，无论是通过技术博客还是开源项目，我都希望能够为开源社区贡献自己的一份力量。</p>
    
    <h3 style="color: #2e405b; font-size: 1.5em;">技术能力</h3>
    <p style="text-indent: 2em;">在技术上，我具备扎实的编程功底和广泛的技术栈。我熟练掌握C、C++、Java、Python、Matlab
        和CSS等多种编程语言和技术，这些技能使我在解决问题的过程中更加得心应手。</p>
    
    <h3 style="color: #2e405b; font-size: 1.5em;">挑战与冒险</h3>
    <p style="text-indent: 2em;">我是一个喜欢挑战和冒险的人。我喜欢尝试新事物，挑战自己的极限。无论是攀登高峰还是潜水深
        海，我都愿意尝试，因为我相信每一次挑战都会让我变得更加坚强和成熟。</p>
    
    <h3 style="color: #2e405b; font-size: 1.5em;">总结</h3>
    <p style="text-indent: 2em;">总的来说，我是一个热爱生活、热爱学习、勇于探索、善于分享的人。我有着自己独特的个性和
        风格，我相信在未来的日子里，我会继续用我的文字和代码，书写属于我自己的精彩人生。</p>

</LayoutDefault>
