---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
  <h1>关于我/关于本站</h1>

  <h2>我是 Aurora</h2>

  <p>我是一名大学生，喜欢读书，目前专注于机器学习，热爱开源，喜欢折腾，喜欢分享，现在在中国浙江读书，热衷于学习通信原理</p>
  
  <p>
    学过C、C++、Java、Python、matlab、CSS。
  </p>
</LayoutDefault>
